p {
    font-family: Arial;
    color: darkblue;
}

h1 {
    background-color: lightgoldenrodyellow;
}

article {
    background-image: url("images/mountains.png");
}

article {
    padding: 40px;
    border: 1px solid blue;
}

#center {
    text-align: center;
    margin: auto;
    border: 3px solid yellow;
    text-transform: capitalize;
    padding: 10px;
}

#city {
    font-variant: small-caps;
    text-transform: capitalize;
}

.upper {
    text-transform: uppercase;
    color: blue;
}

.centered {
    text-align: center;
}

.italic {
    font-style: italic;
}